<div class="comments-wrapper">
<% @comments.each do |comment| %>
  <% if comment.body.present? %>
  <div class="comment">
    <div class="comment-header clearfix">
      <div class="commenter-img">
        <%= link_to comment.coach do %>
          <% if comment.coach.picture.present? %>
            <%= image_tag comment.coach.picture.url, oncontextmenu: "return false;" %>
          <% else %>
            <%= image_tag "", class: "no-image" %>
          <% end %>
        <% end %>
      </div>
      <div class="commenter-info">
        <div class="info">
          <% if @report.author == current_coach %>
            <% if comment.read_flag == false %>
              <span id="new">NEW!</span>
            <% end %>
          <% end %>
          <%= link_to comment.coach do %><span class="name"><%= comment.coach.name %></span><span class="account_name">@<%= comment.coach.account_name %></span><% end %>さんのコメント
          <div class="time clearfix">
            <span><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-content">
      <%= simple_format(comment.body, class: "comment-body") %>
      <% if comment.coach == current_coach %>
        <div class="comment-footer">
          <%= link_to "削除", [comment.coaching_report, comment], method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
  <hr class="horizontal-line clearfix">
  <% end %>
<% end %>
</div>