<% content_for :head do %>
<title>コメント一覧 | Studish</title>
<meta name="description" content="<%= @coach.name %>さんのコメントページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="content-wrapper" id="my-comments">
  <div class="content-container">
    <% if @comments.present? %>
      <% @reports.each do |report| %>
        <div class="content">
          <div class="report-card my-comments">
            <%= render "coaching_reports/report_card", report: report %>
          </div>
          <hr class="horizontal-line">
          <% report.comments.order("created_at DESC").each do |comment| %>
            <% if comment.coach == @coach %>
              <div class="new-comment-card">
                <div class="new-comment-header clearfix">
                  <div class="coach-img">
                    <%= link_to comment.coach do %>
                      <% if comment.coach.picture.present? %>
                        <%= image_tag comment.coach.picture.url, oncontextmenu: "return false;" %>
                      <% else %>
                        <%= image_tag "", class: "no-image" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="new-comment-info">
                    <% if comment.coach == current_coach %>
                      <% if comment.read_flag == false %>
                      <span class="new" id="new">NEW!</span>
                      <% end %>
                      <span class="notice-sentence"><%= link_to comment.coach do %><span class="name">あなた</span><span class="account_name"><%= comment.coach.account_name %></span><% end %>がコメントしました。</span>
                    <% else %>
                      <span class="notice-sentence"><%= link_to comment.coach do %><span class="name"><%= comment.coach.name %></span><span class="account_name"><%= comment.coach.account_name %></span><% end %>がコメントしました。</span>
                    <% end %>
                  </div>
                </div>
                <div class="new-comment">
                  <%= simple_format(comment.body, class: "new-comment-body") %>
                  <div class="new-comment-footer">
                    <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
                  </div>
                </div>
              </div>
              <hr class="horizontal-line">
            <% end %>
          <% end %>
        </div>
      <% end %>
      
    <% else %>
    <P><%= @coach.name %>さんのコメントはありません。</P>
    <% end %>
  </div>
</div>