<% @answers.each do |answer| %>
<li class="answer answers-stream-item">
  <div class="question">
    <div class="profile clearfix">
      <%= link_to answer.post.student, class: "avatar-link" do %>
        <%= image_tag answer.post.student.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
      <% end %>
      <div class="user-info student-info">
        <%= link_to answer.post.student, class: "name-link" do %>
          <span class="user-name student-name"><%= answer.post.student.name %></span><br><span class="user-account-name student-account-name"><%= answer.post.student.account_name %></span>
        <% end %>
      </div>
    </div>
    <% if answer.post.post_pictures.present? %>
      <div class="post-picture-wrapper">
        <div id="post-picture-of-post-<%= answer.post.id %>" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#post-picture-of-post-<%= answer.post.id %>" data-slide-to="0" class="active"></li>
            <% if answer.post.post_pictures.second.present? %>
            <li data-target="#post-picture-of-post-<%= answer.post.id %>" data-slide-to="1"></li>
            <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag answer.post.post_pictures.first.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
            </div>
            <% if answer.post.post_pictures.second.present? %>
            <div class="item">
              <%= image_tag answer.post.post_pictures.second.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <span class="status"><%= answer.post.status %></span>
    <span class="time"><%= time_ago_in_words(answer.post.created_at) %>前</span>
    <span class="comment-id">id:<%= answer.post.id %></span>
    <div class="caption">
      <%= simple_format(answer.post.caption, class: "caption-text") %>
    </div>
    <div class="action-buttons">
      <% if logged_in_as_student? %>
        <% if answer.post.favorites.where(student_id: current_student.id).present? %>
          <%= link_to post_favorite_path(post_id: answer.post.id), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button answerd"></i><span class="count answer-count answerd"><%= answer.post.favorites.count %></span>
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(post_id: answer.post.id), method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count answer-count"><%= answer.post.favorites.count %></span>
          <% end %>
        <% end %>
      <% elsif logged_in_as_coach? %>
        <% if answer.post.favorites.where(coach_id: current_coach.id).present? %>
          <%= link_to post_favorite_path(post_id: answer.post.id), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button favorited"></i><span class="count favorite-count favorited"><%= answer.post.favorites.count %></span>
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(post_id: answer.post.id), method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= answer.post.favorites.count %></span>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to new_post_comment_path(post_id: answer.post.id), class: "action-button-link" do %>
      <i class="fa fa-commenting-o action-button"></i><span class="count comment-count"><%= answer.post.post_comments.count %></span>
      <% end %>
    </div>
  </div>
  <div class="answer">
    <div class="profile clearfix">
      <% if answer.student %>
        <%= link_to answer.student, class: "avatar-link" do %>
          <%= image_tag answer.student.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
        <% end %>
        <div class="user-info student-info">
          <%= link_to answer.student, class: "name-link" do %>
            <span class="user-name student-name"><%= answer.student.name %></span><br><span class="user-account-name student-account-name"><%= answer.student.account_name %></span>
          <% end %>
        </div>
      <% else %>
        <%= link_to answer.coach, class: "avatar-link" do %>
          <%= image_tag answer.coach.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
        <% end %>
        <div class="user-info coach-info">
          <%= link_to answer.coach, class: "name-link" do %>
            <span class="user-name coach-name"><%= answer.coach.name %></span><br><span class="user-account-name coach-account-name"><%= answer.coach.account_name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if answer.comment_pictures.present? %>
      <div class="post-picture-wrapper">
        <% answer.comment_pictures.each do |pic| %>
          <%= image_tag pic.pictures.medium.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
        <% end %>
      </div>
    <% end %>
    <span class="status"><%= answer.status %></span>
    <span class="reply-to">on <%= answer.id %></span>
    <span class="time"><%= time_ago_in_words(answer.created_at) %>前</span>
    <span class="comment-id">id:<%= answer.post.id %></span>
    <div class="caption">
      <%= simple_format(answer.caption, class: "caption-text") %>
    </div>
    <div class="action-buttons">
      <% if logged_in_as_student? %>
        <% if answer.favorites(student_id: current_student.id).present? %>
          <%= link_to post_comment_favorite_path(post_comment_id: answer.id), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button favorited"></i><span class="count favorite-count favorited"><%= answer.favorites.count %></span>
          <% end %>
        <% else %>
          <%= link_to post_comment_favorites_path(post_comment_id: answer.id), method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= answer.favorites.count %></span>
          <% end %>
        <% end %>
      <% elsif logged_in_as_coach? %>
        <% if answer.favorites(coach_id: current_coach.id).present? %>
          <%= link_to post_comment_favorite_path(post_comment_id: answer.id), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button favorited"></i><span class="count favorite-count favorited"><%= answer.favorites.count %></span>
          <% end %>
        <% else %>
          <%= link_to post_comment_favorites_path(post_comment_id: answer.id), method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= answer.favorites.count %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
<hr class="hr-bottom hr-bold">
<% end %>