<% @favorites.each do |favorite| %>
<li class="favorite favorite-stream-item">
  <% if favorite.post %>
    <div class="profile clearfix">
      <%= link_to favorite.post.student, class: "avatar-link" do %>
        <%= image_tag favorite.post.student.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
      <% end %>
      <div class="user-info student-info">
        <%= link_to favorite.post.student, class: "name-link" do %>
          <span class="user-name student-name"><%= favorite.post.student.name %></span><br><span class="user-account-name student-account-name"><%= favorite.post.student.account_name %></span>
        <% end %>
      </div>
    </div>
    <% if favorite.post.post_pictures.present? %>
      <div class="post-picture-wrapper">
        <div id="post-picture-of-post-<%= favorite.post.id %>" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#post-picture-of-post-<%= favorite.post.id %>" data-slide-to="0" class="active"></li>
            <% if favorite.post.post_pictures.second.present? %>
            <li data-target="#post-picture-of-post-<%= favorite.post.id %>" data-slide-to="1"></li>
            <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag favorite.post.post_pictures.first.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
            </div>
            <% if favorite.post.post_pictures.second.present? %>
            <div class="item">
              <%= image_tag favorite.post.post_pictures.second.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <span class="status"><%= favorite.post.status %></span>
    <span class="time"><%= time_ago_in_words(favorite.post.created_at) %>前</span>
    <span class="comment-id">id:<%= favorite.post.id %></span>
    <div class="caption">
      <%= simple_format(favorite.post.caption, class: "caption-text") %>
    </div>
    <div class="action-buttons">
      <% if logged_in_as_student? %>
        <% if favorite.post.favorites.where(student_id: current_student.id).present? %>
          <%= link_to post_favorite_path(post_id: favorite.post.id), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button favorited"></i><span class="count favorite-count favorited"><%= favorite.post.favorites.count %></span>
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(post_id: favorite.post.id), method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= favorite.post.favorites.count %></span>
          <% end %>
        <% end %>
      <% elsif logged_in_as_coach? %>
        <% if favorite.post.favorites.where(coach_id: current_coach.id).present? %>
          <%= link_to post_favorite_path(post_id: favorite.post.id), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button favorited"></i><span class="count favorite-count favorited"><%= favorite.post.favorites.count %></span>
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(post_id: favorite.post.id), method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= favorite.post.favorites.count %></span>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to new_post_comment_path(post_id: favorite.post.id), class: "action-button-link" do %>
      <i class="fa fa-commenting-o action-button"></i><span class="count comment-count"><%= favorite.post.post_comments.count %></span>
      <% end %>
    </div>
  <% else %>
    <div class="profile clearfix">
      <% if favorite.post_comment.student %>
        <%= link_to favorite.post_comment.student, class: "avatar-link" do %>
          <%= image_tag favorite.post_comment.student.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
        <% end %>
        <div class="user-info student-info">
          <%= link_to favorite.post_comment.student, class: "name-link" do %>
            <span class="user-name student-name"><%= favorite.post_comment.student.name %></span><br><span class="user-account-name student-account-name"><%= favorite.post_comment.student.account_name %></span>
          <% end %>
        </div>
      <% else %>
        <%= link_to favorite.post_comment.coach, class: "avatar-link" do %>
          <%= image_tag favorite.post_comment.coach.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
        <% end %>
        <div class="user-info student-info">
          <%= link_to favorite.post_comment.coach, class: "name-link" do %>
            <span class="user-name student-name"><%= favorite.post_comment.coach.name %></span><br><span class="user-account-name student-account-name"><%= favorite.post_comment.coach.account_name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if favorite.post_comment.comment_pictures.present? %>
      <div class="post-picture-wrapper">
        <% favorite.post_comment.comment_pictures.each do |pic| %>
          <%= image_tag pic.pictures.medium.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
        <% end %>
      </div>
    <% end %>
    <span class="status"><%= favorite.post_comment.status %></span>
    <span class="reply-to">on id:<%= favorite.post_comment.commented_post_comment_id %></span>
    <span class="time"><%= time_ago_in_words(favorite.post_comment.created_at) %>前</span>
    <span class="comment-id">id:<%= favorite.post_comment.id %></span>
    <div class="caption">
      <%= simple_format(favorite.post_comment.caption, class: "caption-text") %>
    </div>
    <div class="action-buttons">
      <% if logged_in_as_student? %>
        <% if favorite.post_comment.favorites(student_id: current_student.id).present? %>
          <%= link_to post_comment_favorite_path(post_comment_id: favorite.post_comment.id), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button favorited"></i><span class="count favorite-count favorited"><%= favorite.post_comment.favorites.count %></span>
          <% end %>
        <% else %>
          <%= link_to post_comment_favorites_path, method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= favorite.post_comment.favorites.count %></span>
          <% end %>
        <% end %>
      <% elsif logged_in_as_coach? %>
        <% if favorite.post_comment.favorites(coach_id: current_coach.id).present? %>
          <%= link_to post_comment_favorite_path(post_comment_id: favorite.post_comment.id), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button favorited"></i><span class="count favorite-count favorited"><%= favorite.post_comment.favorites.count %></span>
          <% end %>
        <% else %>
          <%= link_to post_comment_favorites_path, method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= favorite.post_comment.favorites.count %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</li>
<hr class="hr-bottom hr-bold">
<% end %>