<%= render "shared/errors", obj: @student %>
<p class="info"><span class="public"></span>印がついている項目は他のユーザーに公開されます。</p>


<div class="form-group">
  <%= form.label :name, class: "public" %>
  <%= form.text_field :name, class: "form-control", placeholder: "変更可能" %>
</div>
<div class="form-group self_introduction">
  <%= form.label :self_introduction, class: "public" %>
  <%= form.text_area :self_introduction, rows: "10", class: "form-control", placeholder: "最大1000字" %>
</div>
<p>パスワードは変更したい場合のみ入力</p>
<div class="form-group">
  <%= form.label :password, class: "no-public" %>
  <%= form.password_field :password, class: "form-control", placeholder: "英数字8文字以上" %>
</div>
<div class="form-group">
  <%= form.label :password_confirmation, class: "no-public" %>
  <%= form.password_field :password_confirmation, class: "form-control", placeholder: "パスワードの確認" %>
</div>
<div class="submit-group">
    <%= form.submit "更新する", class: "btn btn-primary" %>
</div>