<%= render "shared/errors", obj: @student %>

<div class="present-avatar clearfix">
  <div><%= form.label :present_avatar %></div>
  <% if @student.avatar.present? %>
    <%= image_tag @student.avatar.large.url, oncontextmenu: "return false;", class: "avatar avatar-large" %>
  <% else %>
    <%= image_tag "", class: "avatar avatar-large no-image" %>
  <% end %>
</div>

<div class"form-group file-field">
  <%= form.label :new_avatar, class: "new-avatar" %>
  <%= form.file_field :avatar, type: "file", accept: 'image/jpeg,image/gif,image/png'  %>
  <%= form.hidden_field :avatar_cache %>
</div>
<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control", placeholder: "変更可能" %>
</div>
<div class="form-group self_introduction">
  <%= form.label :self_introduction %>
  <%= form.text_area :self_introduction, rows: "10", class: "form-control", placeholder: "最大1000字" %>
</div>
<div class="submit-group">
    <%= form.submit "更新する", class: "btn btn-primary" %>
</div>