<div class="form-group">
  <%= form_for @comment, post_id: params[:post_id], :html => { multipart: true } do |f| %>
    <%= render 'shared/errors', obj: f.object %>
    <div class="form-group">
      <%= f.fields_for :comment_pictures do |pic| %>
        <%= pic.label :pictures %>
        <%= pic.file_field :pictures, accept: 'image/jpeg,image/gif,image/png' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :caption %>
      <%= f.text_area :caption, rows: 10, class: "form-control", placeholder: "caption...(up to 1000)" %>
      <%= f.hidden_field :post_id, value: params[:post_id] %>
      <%= f.hidden_field :commented_post_comment_id, value: params[:commented_post_comment_id] %>
      <%= f.hidden_field :root_post_comment_id, value: params[:root_post_comment_id] %>
    </div>
    <%= f.submit "comment", class: "btn btn-primary", name: "comment" %>
    <%= f.submit "answer", class: "btn btn-primary", name: "answer" %>
  <% end %>
</div>