<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hirotutor">
<meta name="twitter:creator" content="<%= @creator_coach %>">
<meta name="twitter:title" content="Studishアプリで<%= @twitter_title %>の質問に答えました！">
<meta name="twitter:description" content="<%= @creator_coach %>さんが<%= @post.student.account_name %>さんの質問に答えました。">
<meta name="twitter:image0" content="<%= @twitter_image_url_0 %>">
<meta name="twitter:image1" content="<%= @twitter_image_url_1 %>">

<div class="page-outer" id="new-comment">
  <div class="page-container" id="post-comments-stream">
    <%= render @post %>
    <hr class="hr-bottom hr-bold">
    <%= render "form" %>
    <hr class="hr-bottom">
    <ol class="comments post-comments-stream-container">
      <%= render "comments" %>
      <%= paginate @comments %>
    </ol>
  </div>
</div>