<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hirotutor">
<meta name="twitter:creator" content="<%= @creator %>">
<meta name="twitter:title" content="<%= @creator %>さんが<%= @post.student.account_name %>さん<%= @twitter_sentence %>">
<meta name="twitter:description" content="<%= @creator %>さんが<%= @post.student.account_name %>さん<%= @twitter_sentence %>">
<meta name="twitter:image" content="<%= @twitter_image_url %>">

<div class="page-outer" id="new-comment">
  <div class="page-container" id="post-comments-stream">
    <%= render @post %>
    <hr class="hr-bottom hr-bold">
    <%= render "form" %>
    <hr class="hr-bottom">
    <ol class="comments post-comments-stream-container">
      <%= render "comments" %>
      <%= paginate @comments %>
    </ol>
  </div>
</div>