<div class="notification notification-stream-item">
  <div class="notification-header clearfix">
  <% if n.student %>
    <%= link_to n.student, class: "avatar-link" do %>
      <% if n.student.avatar.present? %>
        <%= image_tag n.student.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
      <% else %>
        <%= image_tag "", class: "avatar no-image" %>
      <% end %>
    <% end %>
  <% elsif n.coach %>
    <%= link_to n.coach, class: "avatar-link" do %>
      <% if n.coach.avatar.present? %>
        <%= image_tag n.coach.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
      <% else %>
        <%= image_tag "", class: "avatar no-image" %>
      <% end %>
    <% end %>
  <% end %>
  <% if n.class.name == "Favorite" %>
    <div class="notification-info clearfix">
      <span class="time"><%= time_ago_in_words(n.created_at) %>前</span>
      <% if n.student_id %>
        <i class="fa fa-heart fav-pink"></i><%= link_to n.student, class: "name-link" do %><span class="user-name student-name"><%= n.student.name %></span><span class="user-account-name student-account-name"><%= n.student.account_name %></span><% end %>さんがいいねしました。
      <% elsif n.coach_id %>
        <i class="fa fa-heart fav-pink"></i><%= link_to n.coach, class: "name-link" do %><span class="user-name coach-name"><%= n.coach.name %></span><span class="user-account-name coach-account-name"><%= n.coach.account_name %></span><% end %>さんがいいねしました。
      <% end %>
    </div>
  </div>
    <% if n.post.present? %>
      <% if n.post.present.post_pictures? %>
      <div class="picture-wrapper">
        <div id="post-picture-of-post-<%= n.post.id %>-<%= i=i+1 %>" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#post-picture-of-post-<%= n.post.id %>-<%= i %>" data-slide-to="0" class="active"></li>
            <% if n.post.post_pictures.second.present? %>
            <li data-target="#post-picture-of-post-<%= n.post.id %>-<%= i %>" data-slide-to="1"></li>
            <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag n.post.post_pictures.first.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
            </div>
            <% if n.post.post_pictures.second.present? %>
            <div class="item">
              <%= image_tag n.post.post_pictures.second.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <span class="status"><%= n.post.status %></span>
      <span class="time"><%= time_ago_in_words(n.post.created_at) %>前</span>
      <div class="caption">
        <%= simple_format(n.post.caption, class: "caption-text") %>
      </div>
      <div class="more clearfix">
        <%= link_to "チェックする", new_post_comment_path(post_id: n.post.id) %>
      </div>
    <% elsif n.post_comment.present? %>
      <div class="picture-wrapper">
        <% if n.post_comment.comment_pictures.present? %>
          <% n.post_comment.comment_pictures.each do |pic| %>
            <%= image_tag pic.pictures.medium.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
          <% end %>
        <% end %>
      </div>
      <span class="status"><%= n.post_comment.status %></span>
      <span class="time"><%= time_ago_in_words(n.post_comment.created_at) %>前</span>
      <div class="caption">
        <%= simple_format(n.post_comment.caption, class: "caption-text") %>
      </div>
      <div class="more clearfix">
        <%= link_to "チェックする", new_post_comment_path(post_id: n.post_comment.post.id) %>
      </div>
    <% end %>
  <% elsif n.class.name == "PostComment" %>
    <div class="notification-info">
      <span class="time"><%= time_ago_in_words(n.created_at) %>前</span>
      <% if n.status == "comment" %>
        <% if n.student_id %>
          <i class="fa fa-commenting-o comment-blue"></i><%= link_to n.student, class: "name-link" do %><span class="user-name student-name"><%= n.student.name %></span><span class="user-account-name student-account-name"><%= n.student.account_name %></span><% end %>さんがコメントしました。
        <% elsif n.coach_id %>
          <i class="fa fa-commenting-o comment-blue"></i><%= link_to n.coach, class: "name-link" do %><span class="user-name coach-name"><%= n.coach.name %></span><span class="user-account-name coach-account-name"><%= n.coach.account_name %></span><% end %>さんがコメントしました。
        <% end %>
      <% elsif n.status == "answer" %>
        <% if n.student_id %>
          <i class="fa comment-blue">A</i><%= link_to n.student, class: "name-link" do %><span class="user-name student-name"><%= n.student.name %></span><span class="user-account-name student-account-name"><%= n.student.account_name %></span><% end %>さんがアンサーしました。
        <% elsif n.coach_id %>
          <i class="fa comment-blue">A</i><%= link_to n.coach, class: "name-link" do %><span class="user-name coach-name"><%= n.coach.name %></span><span class="user-account-name coach-account-name"><%= n.coach.account_name %></span><% end %>さんがアンサーしました。
        <% end %>
      <% end %>
    </div>
  </div>
    <% if n.post.post_pictures.present? %>
    <div class="post-picture-wrapper">
      <div id="post-picture-of-post-<%= n.post.id %>-<%= i=i+1 %>" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
          <li data-target="#post-picture-of-post-<%= n.post.id %>-<%= i %>" data-slide-to="0" class="active"></li>
          <% if n.post.post_pictures.second.present? %>
          <li data-target="#post-picture-of-post-<%= n.post.id %>-<%= i %>" data-slide-to="1"></li>
          <% end %>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag n.post.post_pictures.first.pictures.medium.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
          </div>
          <% if n.post.post_pictures.second.present? %>
          <div class="item">
            <%= image_tag n.post.post_pictures.second.pictures.medium.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="infomation clearfix">
      <span><%= n.post.subject %></span>
      <% if n.post.text_name %><span><%= n.post.text_name %></span><% end %>
      <% if n.post.chapter.present? %><span><%= n.post.chapter %></span><% end %>
      <% if n.post.section.present? %><span><%= n.post.section %></span><% end %>
      <% if n.post.page.present? %><span><%= n.post.page %></span><% end %>
      <% if n.post.number %><span><%= n.post.number %></span><% end %>
      <% if n.post.pattern.present? %><span><%= n.post.pattern %></span><% end %>
    </div>
    <span class="status"><%= n.post.status %></span>
    <span class="time"><%= time_ago_in_words(n.post.created_at) %>前</span>
    <div class="caption">
      <%= simple_format(n.post.caption, class: "caption-text") %>
    </div>
    <div class="more clearfix">
      <%= link_to "チェックする", new_post_comment_path(post_id: n.post.id) %>
    </div>
  <% end %>
</div>
<hr class="hr-bottom">