<% content_for :head do %>
<title>通知 | Studish</title>
<meta name="description" content="Studishの通知ページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="content-wrapper" id="notifications">
    <% if @notifications.present? %>
    
      <% @notifications.each do |n| %>
        <div class="content-container">
          <div class="content clearfix">
            <div class="coach-img">
              <%= link_to n.coach do %>
                <%= image_tag n.coach.picture.url, oncontextmenu: "return false;" %>
              <% end %>
            </div>
            <div class="infos-wrapper clearfix">
              <div class="info">
              <% if n.has_attribute?(:favorited_coach_id) %>
                  <i class="fa fa-heart fav-pink"></i><%= link_to n.coach do %><span class="name"><%= n.coach.name %></span><span class="account_name">@<%= n.coach.account_name %></span><% end %>さんがいいねしました。
              <% elsif n.has_attribute?(:commented_coach_id) %>
                  <i class="fa fa-commenting-o comment-blue"></i><%= link_to n.coach do %><span class="name"><%= n.coach.name %></span><span class="account_name">@<%= n.coach.account_name %></span><% end %>さんがコメントしました。
              <% end %>
                <div class="time">
                  <%= n.coaching_report.created_at.strftime("%Y/%m/%d %H:%M") %>
                </div>
              </div>
              <p class="report-title"><%= truncate(n.coaching_report.title, length: 50) %></p>
              <p class="report-body"><%= truncate(n.coaching_report.body, length: 200) %></p>
              <span class="more clearfix">
                <%= link_to "詳細", n.coaching_report, class: "more" %>
              </span>
            </div>
          </div>
        </div>
        <hr class="horizontal-line">
      <% end %>
      
    <% else %>
      <P>通知はありません。</P>
    <% end %>
</div>