<% content_for :head do %>
<title>Studish | Introduction</title>
<meta name="description" content="Studishのサービス概要を説明しているページです。このサービスを作るに至った経緯、指導に対する基本的な立場について書いてあります。">
<% end %>

<div id="intro" class="content-wrapper">
  <div id="intro-content-container" class="content-container">
    <div class="content-header">
      <h2>Introduction</h2>
    </div>
    <div id="contents" class="content">
      <h3>目次</h3>
      <ul>
        <li>
          <%= link_to "#intro-1" do %>はじめに<% end %>
        </li>
        <li>
          <%= link_to "#intro-2" do %>勉強嫌いは指導者の責任<% end %>
        </li>
        <li>
          <%= link_to "#intro-3" do %>科目指導はそんなにいらない<% end %>
        </li>
        <li>
          <%= link_to "#intro-4" do %>勉強はスポーツと同じ<% end %>
        </li>
        <li>
          <%= link_to "#intro-5" do %>必要なのは教師ではなくコーチ<% end %>
        </li>
        <li>
          <%= link_to "#intro-6" do %>おわりに<% end %>
        </li>
      </ul>
    </div>
    <div id="intro-1" class="content">
      <h3>はじめに</h3>
      <p>みなさんはじめまして。Studish代表の加藤です。Studishはオンライン指導サービスとして2016年6月にスタートアップしました。ここではこのサービスを作るに至った経緯、指導に対する基本的な立場を書きました。少し長いですが読んでいただければ幸いです。</p>
    </div>
    <div id="intro-2" class="content">
      <h3>勉強嫌いは指導者の責任</h3>
      <p>私は10年ほど個別指導の講師をやってきました。色々な生徒さんを見てきましたが、総じて感じているのはみんなやらされている感が強いということです。私自身も学校の勉強はつまらないと感じていたのでわかるような気がします。</p>
      <p>勉強が嫌いな人はたくさんいますが、その理由の多くは勉強そのものにはありません。勉強の周りにあるものが嫌いなんです。もっと言えば”人”です。</p>
      <p>勉強が嫌い・苦手になる原因のほとんどは指導者にあると私は考えています。「これくらいできて当たり前」「勉強しなさい」「どうせできないでしょ」、こういった言動が生徒のやる気をどんどん奪っていくんですね。直接的な言葉ではなくても、日々のネチネチとした小言が原因になっていることもあります。塾や予備校の講師の中にもそういう方はいます。</p>
      <p>学校や家でモチベーションが下がることを言われ、塾や予備校でも同じように言われるのはなかなかツラいものがあります。この環境にいて勉強に対してポジティブになるのは至難の業でしょう。</p>
      <p>かく言う私も以前そういう指導をしてしまったこともあります。講師３年目くらいだったと思います。大学受験生の指導をしている時ですが、予定通りに指導が進まないとついついイライラしてしまうんですね。そして、その生徒のダメなところをひたすら指摘するという愚行をしてしまいました。</p>
    </div>
    <div id="intro-3" class="content">
      <h3>科目指導はそんなにいらない</h3>
      <p>それまでの私は「科目指導」を指導の中心に置いていました。カンタンに言えば問題の解き方や考え方を教えていました。もちろん生徒のモチベーションにも気を配っていましたが、やる気を引き出すのは本当に難しいので敬遠していました。</p>
      <p>ここ数年はそれまでとは真逆で自学のレベルを上げモチベーションを高めるほうが効果的だと感じています。週１回数十分の指導時間よりもそれ以外の時間をうまく使えるようにした方が重要です。</p>
      <p>そう考えるようになってから指導方法もそういう方向へシフトしていきました。今、私が指導の軸にしているのは「マインドの改善」と「自学スキルの向上」、そして「実行力の向上」です。これはトップページのMeritのところにも書いてあることです。</p>
      <p>私は指導時間は基本的に週に1回60分あれば十分だと考えています。すでに述べた通り、これは自学スキルを上げた方が中長期的には効果的だからです。そして自学スキルを上げるためには「教えすぎない」ことが重要だからです。</p>
      <p>1から10まで手取り足取り教えてしまうと、生徒は自分で考えなくなってしまいます。宿題を”やらせる”のも同じです。あくまでも自分の意志で”やる”か”やらない”かを判断し行動していかなければなりません。もちろん、どうやればもっとうまくやれるのかはコーチが教えなければなりません。</p>
      <p>ところが多くの塾や予備校では夏期講習などの講習期間になると山ほど指導回数を取らせようとします。カリキュラムを作り勉強そのものを教えようとするんですね。そのカリキュラムには生徒が自分で考え解決していくということは考慮されていません。これではいつまでたっても成長しないでしょう。</p>
      <p>その多くは生徒のためではなくビジネス的な理由からだと思います。生徒の数が限られている以上、サービスを継続するためには仕方ないという側面もあります。でもそれでは本末転倒です。生徒の抱える問題を解決するためのサービスのはずなのに、さらに悪くすることに加担していることになります。生徒が自分で考え行動する時間を奪っているわけですからね。</p>
    </div>
    <div id="intro-4" class="content">
      <h3>勉強はスポーツと同じ</h3>
      <p>人間の意志の力はある意味では本当に強いんですね。勉強に関して言えば、負の面が目立ちます。一度勉強が苦手・嫌いだと思ってしまうと意地でも勉強をしなくなります。そしてそのマインドを変えるのは容易ではありません。でも、逆に言えばそのマインドをポジティブなものに変えることができれば、自分から進んで勉強することが当たり前になるはずです。</p>
      <p>勉強を特殊なものと考えているとなかなかそのマインドを変えることはできませんが、他のもの、例えばスポーツと同じように捉えれば急にカンタンに思えてきます。</p>
      <p>あなたが10代後半のプロテニスプレイヤーだとしましょう。</p>
      <p>目標は生涯グランドスラムの達成です。そのためにはまず目の前の試合に勝たなければなりません。対戦相手は自分よりも格上で実力も上です。テニスの世界では、上にいくには基本的に自分よりも格上の相手に勝たなければなりません。</p>
      <p>このテニスという土俵で戦っていくには、常に挑戦していくマインドが求められます。守りに入れば勝てる可能性はより低くなるでしょう。人間の意志の弱さはこういう状況で表れます。「どうせ勝てない」「まだ実力不足」「今回は勝てなくてもいい」、試合の前から負けた時の言い訳をしてしまうものです。</p>
      <p>そこで重要になるのがコーチの存在です。コーチの役割は選手の可能性を信じ、選手自身もその可能性を信じることができるようにすることだと思います。そして格も実力も上の相手に勝つために必要なことを実践できるようにしていくことです。あくまでも選手自身の力で。そのためには、マインド、スキルの両面での指導が必要です。</p>
      <p>最近では錦織圭選手とコーチのマイケル・チャン氏の関係がまさにそれだと思います。マイケル・チャン氏は錦織選手がもともと持っていた世界のトップで戦えるマインドとスキルの種を見つけ大きく育てました。</p>
      <p>テニスをよく知らない人は他の競技に置き換えて考えてみてください。世界を驚かせたラグビー日本代表とそのコーチ、エディー・ジョーンズ氏も同じだと思います。サッカー日本代表の岡崎選手が所属するレスターシティFCのラニエリ氏や青山学院大学陸上部の原氏もそうだと思います。</p>
      <p>この話の本質は他のことにも共通したものがあると考えています。コーチは選手を信じ実力を限界まで引き出していく。選手自身も自分の可能性を信じ目標を達成していく。選手とコーチのこの関係です。勉強だけがその例外であるという理由はどこにもありません。</p>
    </div>
    <div id="intro-5" class="content">
      <h3>必要なのは教師ではなくコーチ</h3>
      <p>既存の学校教育やそれに準じた塾や予備校はその点で大きくズレていると感じています。生徒と指導者の見ているものとその方向がまったく異なっているのではないかと思います。かつて私がしてしまった愚行を延々と繰り返しているような気がします。</p>
      <p>テニスやラグビー、サッカーの話を例に出しましたが、それらの例は生徒と講師の関係と大きく異なる点があります。それは、自分の意志でその環境にいるのかどうかです。錦織選手や岡崎選手は自分の意志でプロ選手として活動しています。そのために必要なことを積極的に実行していきます。それどころか彼らが望んでもそれが叶わない可能性も大いにあります。</p>
      <p>一方で、多くの”生徒”は自分の意志で勉強しているわけではありません。本人や周りがどう思っていようが、これは事実でしょう。「今日は宿題なし」と言えば99%の生徒は次回の指導までに何もやってこないでしょう。学校でもテストが無ければほとんどの人は勉強しなくなるでしょう。受験が無ければ勉強しないというのは内部進学制度がある学校に通っている方ならわかることだと思います。</p>
      <p>この違いを理解せずに指導すると先の愚行になります。全てとは言いませんが、いわゆる進学校と言われるところで起きている問題はまさにこれです。上位数％の生徒のためだけに授業が行われその他はまったく意味がないものになっています。進学校でなくても似たような問題は起きています。授業が一部の層に向けて設計され実行されている以上、この問題は常に起きます。</p>
      <p>「生徒1人1人にあったカリキュラム」ではなく、本当はマインドセットが重要なんです。そこが抜けているとどれだけ学力に見合ったカリキュラムを作ってもうまくいきません。このミスも私は経験済みです（笑）。</p>
      <p>生徒1人1人のマインドに合わせて少しづつでも前に進んでいけるようにするのがコーチの役割です。どんなに素晴らしいカリキュラムでも実行できないのなら意味がありません。それを”やらされ”続けていると、それに対してネガティブな心象しか持てなくなります。</p>
      <p>”自分の意志で勉強をしていない”生徒はかなり多いです。それ自体は悪いことだとは思いません。どちらかと言うとそういう状況を放置している指導者サイドに問題があると思います。</p>
    </div>
    <div id="intro-6" class="content">
      <h3>おわりに</h3>
      <p>私はこれらの問題を解決するためには勉強にもコーチが必要だと考えています。勉強ができない（と思わされている）人や才能があるのに埋もれている人がたくさんいることを知っています。そういう人がより良い方向へ進んでいけるように背中を押したり導いたり見守り一緒に戦っていくような存在が必要です。</p>
      <p>このサービスを利用する人が、自分の意志で進んでいけるようにバックアップしたいと考えています。最終的にそれが”勉強”じゃなくても良いと思います。自分の進む方向は”勉強じゃない”と思えるようになるのも1つの選択のはずですからね。</p>
      <p>オンラインでやる理由は、地理的な要因で問題を解決できないことがなくなるからです。ビジネスモデル的にも有利だからです。そのあたりに興味がある方は連絡をください。別の場でお話しましょう。</p>
      <p>スタートアップしたばかりで改善すべき点は山ほどあります。これからもどんどん出てくると思います。しかし、最も重要なのは意志と行動であり、サービスの内容そのものはツールでしかないと考えています。問題を解決するためにプラスになるものは今後拡充していくつもりです。</p>
      <p>ツールと言う意味ではまったくもって不完全な状態でスタートしましたが、これは私がいつも指導していることで「とりあえずやってみる」ことが重要だと考えているからです。このサービス自体も生徒や講師とともに成長していくものだと考えています。その方向性は生徒や講師のみなさんが決めていくものと信じています。みなさんのご意見を大切にしつつ私自身もその過程を楽しみ成長していけたらと思います。</p>
      <p>最後まで読んでいただいてありがとうございました。Studishの指導に興味がある方は<%= link_to inquiry_path do %>こちら<% end %>よりご連絡ください。</p>
    </div>
    <div class="content content-footer">
      <span>2016年6月5日<br></span>
      <span>Studish代表　加藤ヒロアキ</span>
    </div>
  </div>
</div>