<% content_for :head do %>
<%= render 'shared/fundamental_meta' %>
<%= render 'shared/twitter_meta' %>
<% end %>

<div class="page-outer answers">
  <div class="page-container" id="answers-stream">
    <h2 class= "header answers"><%= @user.account_name %>さんのAnswers</h2>
    <div class="answers-stream-container">
      <% if @answers.present? %>
        <%= render 'answers' %>
        <%= paginate @answers %>
      <% else %>
        <p class="nothing"><%= @user.name %>さんのアンサーはまだありません。</p>
      <% end %>
    </div>
  </div>
</div>