<% content_for :head do %>
<title>新規登録 | Studish</title>
<meta name="description" content="Studishの新規ユーザー登録ページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,studenting,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="page-outer student-new">
  <div class="page-container">
    <h2 class="page-header">新規登録</h2>
    <%= render "shared/errors", obj: @user %>
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label "アカウント名", class: "no-public" %>
        <%= f.text_field :account_name, class: "form-control", placeholder: "6文字以上(半角英数字/ひカ/変更不可)" %>
      </div>
      <div class="form-group">
        <%= f.label "メールアドレス", class: "no-public" %>
        <%= f.text_field :email, class: "form-control", placeholder: "このアドレスにアカウント有効化メールが届きます" %>
      </div>
      <div class="form-group">
        <%= f.label "パスワード", class: "no-public" %>
        <%= f.password_field :password, class: "form-control", placeholder: "英数字8文字以上" %>
      </div>
      <div class="form-group">
        <%= f.label "パスワードの確認", class: "no-public" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワードの確認" %>
      </div>
      <div class="form-group">
        <p class="">ログインするためにメールアドレスとパスワードが必要なので忘れないようにしてください。</p>
      </div>
      <% if params[:post_type] == 'coach' %>
        <%= f.hidden_field :user_type, value: 'coach' %>
      <% elsif params[:post_type] == 'student' %>
        <%= f.hidden_field :user_type, value: 'student' %>
      <% end %>
      <div class="submit-group">
        <%= f.submit "登録する", class: "btn btn-primary margin-right-m" %>
        <%= link_to "戻る", :back, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>