<% content_for :head do %>
<title><%= @user.account_name %>さんのプロフィール | Studish</title>
<meta name="description" content="Studish生徒のプロフィールページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="page-outer student-profile">
  <div class="page-container" id="post-stream">
    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end %>
    <div class= "profile-header clearfix">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.large.url, oncontextmenu: "return false;", class: "avatar avatar-large" %>
      <% else %>
        <%= image_tag "", class: "avatar avatar-large no-image" %>
      <% end %>
      <ul class="stats clearfix">
        <%= link_to "", class: "question-link" do %><li class="stats-item clearfix" id="stats1"><span class="count"><%= @questions_count %></span><span class="item question">クエスチョン</span></li><% end %>
        <%= link_to answers_student_path(@user), class: "answers" do %><li class="stats-item clearfix" id="stats2"><span class="count"><%= @answers_count %></span><span class="item answer">アンサー</span></li><% end %>
        <%= link_to favorites_student_path(@user), class: "favorites" do %><li class="stats-item clearfix" id="stats3"><span class="count"><%= @favorites_count %></span><span class="item #">いいね</span></li><% end %>
        <%= link_to "", class: "notes-link" do %><li class="stats-item clearfix" id="stats4"><span class="count"><%= @notes_count %></span><span class="item notes">ノート</span></li><% end %>
      </ul>
    </div>
    <% if @user == current_user %>
      <div class="edit-profile-link-wrapper clearfix">
        <%= link_to "プロフィール編集", edit_user_path(current_user), class: "edit-profile-link" %>
      </div>
    <% end %>
    <div class="user-info student-info margin-cancel">
      <%= link_to @user, class: "name-link" do %>
      <span class="user-name student-name"><%= @user.name %></span><br><span class="user-account-name student-account-name"><%= @user.account_name %></span>
      <% end %>
    </div>
    <%= simple_format(@user.self_introduction, class: "self-introduction") %>
    <hr class="hr-bottom">
    <% if @user.posts.any? %>
      <ol class="posts post-stream-container">
        <%= render @posts %>
        <%= paginate @posts %>
      </ol>
    <% end %>
  </div>
</div>