<div id="top-coaches" class="content-wrapper">
  <div class="content-container">
    <div class="content-header">
      <h2>講師</h2>
    </div>
    <div class="content">
      <div class="coach-card-wrapper clearfix">
        <% if @coaches.present? %>
          <% @coaches.each_with_index do |coach, i| %>
            <div id="<%= i+1 %>" class="coach-card">
              <%= link_to coach do %>
                <div class="coach-card-inner">
                  <div class="img-wrapper">
                    <% if coach.picture.present? %>
                      <%= image_tag coach.picture, oncontextmenu: "return false;" %>
                    <% else %>
                      <%= image_tag("no_image.png") %>
                    <% end %>
                  </div>
                  <div class="profs">
                    <div class="coach-name"><%= coach.name %></div>
                    <div class="coach-univ"><%= coach.university %></div>
                    <div class="coach-major"><%= coach.major %></div>
                    <div class="coach-schlyr"><%= coach.school_year %></div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="link">
      <%= link_to "他の講師を見る", :coaches, class: "btn btn-primary" %>
    </div>
  </div>
</div>