<div id="slide" class="content-wrapper">
  <div class="content-container">
    <div class="content-header">
      <h2>講師</h2>
    </div>
    <div class="content">
      <ul class="single-item">
        <li>
          <div class="profile-cover">
            <%= image_tag "myface.jpg", class: "coach-profile", id: "coach-profile-1", oncontextmenu: "return false;" %>
            <div class="coach-name">
              <span>name</span>
            </div>
            <%= link_to "nameさんの詳細プロフィール", root_path %>
          </div>
        </li>
        <li>
          <div class="profile-cover">
            <%= image_tag "no_image.png", class: "coach-profile", id: "coach-profile-2" %>
            <div class="coach-name">
              <span>name</span>
            </div>
            <%= link_to "nameさんの詳細プロフィール", root_path %>
          </div>
        </li>
        <li>
          <div class="profile-cover">
            <%= image_tag "no_image.png", class: "coach-profile", id: "coach-profile-3" %>
            <div class="coach-name">
              <span>name</span>
            </div>
            <%= link_to "nameさんの詳細プロフィール", root_path %>
          </div>
        </li>
        <li>
          <div class="profile-cover">
            <%= image_tag "no_image.png", class: "coach-profile", id: "coach-profile-1" %>
            <div class="coach-name">
              <span>name</span>
            </div>
            <%= link_to "nameさんの詳細プロフィール", root_path %>
          </div>
        </li>
        <li>
          <div class="profile-cover">
            <%= image_tag "no_image.png", class: "coach-profile", id: "coach-profile-1" %>
            <div class="coach-name">
              <span>name</span>
            </div>
            <%= link_to "nameさんの詳細プロフィール", root_path %>
          </div>
        </li>
      </ul>
    </div>
    <div class="content" id="coaches-link">
      <%= link_to "他の講師をチェック！", root_path, class: "btn btn-primary" %> 
    </div>
  </div>
</div>