<div id="slide" class="content-wrapper">
  <div class="content-container">
    <div class="content-header">
      <h2>講師紹介</h2>
    </div>
    <div class="content">
      <ul class="single-item">
        <% @coach.each do |coach| %>
          <li>
            <%= link_to coach do %>
              <div class="profile-cover">
                <% if coach.image %>
                  <%= coach_image_tag coach, class: "coach-profile", oncontextmenu: "return false;" %>
                <% else %>
                  <%= image_tag("no_image.png") %>
                <% end %>
                <div class="coach-name">
                  <span><%= coach.name %>さん</span>
                </div>
                <span>詳細プロフィールを見る</span>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="content" id="coaches-link">
      <%= link_to "他の講師をチェック！", coaches_path , class: "btn btn-primary" %> 
    </div>
  </div>
</div>