<div id="slide" class="content-wrapper">
  <div class="content-container">
    <div class="content-header">
      <h2>講師</h2>
    </div>
    <div class="content">
      <ul class="single-item">
        <% @slide.each do |slide| %>
          <li>
            <div class="profile-cover">
              <%= coach_image_tag slide, class: "coach-profile", id: "coach-profile-1", oncontextmenu: "return false;" %>
              <div class="coach-name">
                <span><%= slide.name %></span>
              </div>
              <%= link_to slide do %>
                <%= slide.name %>さんの詳細プロフィール
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="content" id="coaches-link">
      <%= link_to "他の講師をチェック！", coaches_path , class: "btn btn-primary" %> 
    </div>
  </div>
</div>