<div id="slide" class="content-wrapper">
  <div class="content-container">
    <div class="content-header">
      <h2>講師紹介</h2>
    </div>
    <div class="content">
      <ul class="single-item">
        <% @slide_coaches.each do |coach| %>
          <li>
            <div class="profile-cover">
              <% if coach.picture.present? %>
                <%= image_tag coach.picture.url, class: "coach-profile", oncontextmenu: "return false;" %>
              <% else %>
                <%= image_tag("no_image.png") %>
              <% end %>
              <div class="coach-name coach-info">
                <i class="fa fa-coffee" aria-hidden="true"></i>
                <span><%= coach.name %></span>
              </div>
              <div class="coach-university coach-info">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span><%= coach.university %></span>
              </div>
              <%= link_to coach do %>
              <span>プロフィール詳細</span>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="content" id="coaches-link">
      <%= link_to "他の講師をチェック！", coaches_path , class: "btn btn-primary" %> 
    </div>
  </div>
</div>