<% content_for :head do %>
<title>Home | Studish</title>
<meta name="description" content="Studishは日々の学習にコーチングを取り入れた完全１対１のオンライン指導サービスです。コーチングとティーチングで、中学生や高校生の成績向上、志望校合格、自学能力の強化、自立学習をサポートします。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hirotutor">
<meta name="twitter:creator" content="@hirotutor">
<meta name="twitter:title" content="オンラインコーチ×質問機能で勉強スキルを上げよう！">
<meta name="twitter:description" content="Studishは日々の学習にコーチングを取り入れた完全１対１のオンライン指導サービスです。">
<meta name="twitter:image" content="http://studish-stg.herokuapp.com/assets/twitter-card_top-be87008045ec07d9caba31566b10532a9cf58d02159124fa6467c2a7b06bd53e.png">
<% end %>

<div class="wrapper">
  <div class="copy">
    <%= render partial: "copy" %>
  </div>
  <div class="main-contents">
    <%= render partial: "about" %>
    <%= render partial: "top_coaches" %>
    <%= render partial: "flowchart" %>
    <%= render partial: "environment" %>
    <%= render partial: "plan" %>
    <%= render :template => "inquiry/index" %>
    <%= render :template => "share/line" %>
  </div>
</div>