<% content_for :head do %>
<%= render 'shared/fundamental_meta' %>
<%= render 'shared/twitter_meta' %>
<% end %>

<div class="wrapper">
  <div class="copy">
    <%= render partial: "copy" %>
  </div>
  <div class="main-contents">
    <%= render partial: "about" %>
    <%= render partial: "feature" %>
    <%= render partial: "how_to_feature" %>
    <%= render partial: "plan" %>
    <%= render partial: "line" %>
  </div>
</div>