<div class="report-card">
  <div class="report-header clearfix">
    <%= link_to report.coach, class: "avatar-link" do %>
      <% if report.coach.avatar.present? %>
        <%= image_tag report.coach.avatar.url, oncontextmenu: "return false;", class: "avatar" %>
      <% else %>
        <%= image_tag "", class: "avatar no-image" %>
      <% end %>
    <% end %>
    <div class="user-info coach-info">
      <%= link_to report.coach, class: "name-link" do %>
        <span class="user-name coach-name"><%= report.coach.name %></span><br><span class="user-account-name coach-account-name"><%= report.coach.account_name %></span>
      <% end %>
    </div>
  </div>
  <div class="report">
    <span class="report-title"><%= report.title %></span>
    <% if (@template == "index") || (@template == "favorites") || (@template == "my-comments-index") %>
      <p class="report-body"><%= truncate(report.body, length: 200) %></p>
    <% else %>
    <%= simple_format(report.body, class: "report-body") %>
    <% end %>
    <% unless @template == "show" %>
      <div class="more clearfix">
        <span class="more-link"><%= link_to "詳細", report %></span>
      </div>
    <% end %>
  </div>
  <div class="report-footer">
    <% if @template.present? && ( (@template == "favorites") || (@template == "my-comments-index") ) %>
      <%= render "coaching_reports/footer", report: report %>
    <% else %>
      <%= render "footer", report: report %>
    <% end %>
  </div>
</div>