<% content_for :head do %>
<title>レポートタイムライン | Studish</title>
<meta name="description" content="Studishのレポートタイムラインです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="content-wrapper" id="coaching-reports">
  <div class="content-container">
    <% if @reports.present? %>
      <div class="content-header">
        <% if @coach %>
          <h2><%= @coach.name %>さんのレポート</h2>
        <% else %>
          <h2>レポートタイムライン</h2>
        <% end %>
      </div>
    
      <div class="content">
        <% if @coach %>
          <div class="coach-reports-info">
            <% if ( count = @reports.count ) > 0 %>
            <span class="reports-count"><i class="fa fa-book"></i><%= @reports.count %></span>
            <% end %>
          </div>
        <% end %>
        <% @reports.each do |report| %>
          <div class="report-card">
            <div class="report-header clearfix">
              <div class="coach-img">
                <%= link_to report.author do %>
                  <% if report.author.picture.present? %>
                    <%= image_tag report.author.picture.url, oncontextmenu: "return false;" %>
                  <% else %>
                    <%= image_tag("no_image.png") %>
                  <% end %>
                <% end %>
              </div>
              <div class="coach-info">
                <span class="coach-name"><%= link_to report.author.name, report.author %></span>
              </div>
            </div>
            <div class="report-abst">
              <span class="report-title"><%= truncate(report.title, length: 50 ) %></span>
              <p class="report-body">
                <%= truncate(report.body, length: 400) %>
              </p>
              <%= link_to "もっと読む", report, class: "more" %>
              <div class="report-footer">
                <%= render "footer", report: report %>
              </div>
            </div>
          </div>
        <% end %>
        <%= will_paginate @reports, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;' %>
      </div>
    <% else %>
      <div class="content">
        <% if params[:coach_id] %>
        <p><%= @coach.name %>さんのレポートはまだありません。</p>
        <% else %>
        <p>まだレポートはありません。</p>
        <% end %>
      </div>
    <% end %>
    
  </div>
</div>