<% content_for :head do %>
<title><%= @report.title %> | Studish</title>
<meta name="description" content="<%= @report.author.name %>さんのレポートページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="content-wrapper" id="coaching-report">
  <div class="content-container">
    <%= render "shared/errors", obj: @report %>
    <div class="content">
      <div class="report-card">
        <div class="report-header clearfix">
          <div class="coach-img">
            <%= link_to @report.author do %>
              <% if @report.author.picture.present? %>
                <%= image_tag @report.author.picture.url, oncontextmenu: "return false;" %>
              <% else %>
                <%= image_tag("no_image.png") %>
              <% end %>
            <% end %>
          </div>
          <div class="coach-info">
            <span class="coach-name"><%= link_to @report.author.name, @report.author %></span>
          </div>
        </div>
        <div class="report-abst">
          <span class="report-title"><%= @report.title %></span>
          <%= simple_format(@report.body, class: "report-body") %>
          <div class="report-footer">
            <%= render "footer", report: @report %>
          </div>
        </div>
      </div>
      <hr class="horizontal-line">
      <%= render "comments/form" %>
      <hr class="horizontal-line">
      <%= render "comments/index" %>
      <div class="back">
      <%= link_to "戻る", :coaching_reports %>
    </div>
    </div>
  </div>
</div>