<% content_for :head do %>
<title><%= @coach.name %>さんのプロフィール | Studish</title>
<meta name="description" content="Studish講師のプロフィールページです。指導科目や自己紹介などを見て自分に合う講師を見つけましょう。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="content-wrapper" id="coach-profile">
  <div class="content-container">
    <div class="content-header">
      <h2><%= @coach.name %>さんのプロフィール</h2>
    </div>
    <div class="content">
      <% if flash.notice %>
        <p class="notice"><%= flash.notice %></p>
      <% end %>
    </div>
    <div class="content">
      <div class="coach-picture">
        <% if @coach.picture.present? %>
          <%= image_tag @coach.picture.url, oncontextmenu: "return false;" %>
        <% else %>
          <%= image_tag("no_image.png") %>
        <% end %>
      </div>
      <div class="coach-profile">
        <% if current_coach == @coach %>
        <p><span class="public"></span>印がついている項目以外は公開されません。</p>
        <% end %>
        <% if current_coach == @coach %>
        <div class="">
          <%= label_tag :birthday, t('.birthday') %>
          <span><%= @coach.birthday %></span>
        </div>
        <% end %>
        <div class="">
          <%= label_tag :name, t('.name'), class: "public" %>
          <span><%= @coach.name %></span>
        </div>
        <% if current_coach == @coach %>
        <div class="">
          <%= label_tag :fullname, t('.full_name') %>
          <span><%= @coach.full_name %></span>
        </div>
        <% end %>
        <% if current_coach == @coach %>
        <div class="">
          <%= label_tag :email, t('.email') %>
          <span><%= @coach.email %></span>
        </div>
        <% end %>
        <% if current_coach == @coach %>
        <div class="">
          <%= label_tag :skype, t('.skype') %>
          <span><%= @coach.skype %></span>
        </div>
        <% end %>
        <% if current_coach == @coach %>
        <div class="">
          <%= label_tag :phone, t('phone') %>
          <span><%= @coach.phone %></span>
        </div>
        <% end %>
        <div class="">
          <%= label_tag :university, t('.university'), class: "public" %>
          <span><%= @coach.university %></span>
        </div>
        <div class="">
          <%= label_tag :major, t('.major'), class: "public" %>
          <span><%= @coach.major %></span>
        </div>
        <div class="">
          <%= label_tag :school_year, t('.school_year'), class: "public" %>
          <span><%= @coach.school_year %></span>
        </div>
        <div class="subjects">
          <%= label_tag :jr_subjects, t('.jr_subjects'), class: "public" %>
          <% @jr_subjects.each_value do |jr_subs| %>
            <span><%= jr_subs unless jr_subs == '0' %></span>
          <% end %>
        </div>
        <div class="subjects">
          <%= label_tag :high_subjects, t('.high_subjects'), class: "public" %>
          <% @high_subjects.each_value do |high_subs| %>
            <span><%= high_subs unless high_subs == '0' %></span>
          <% end %>
        </div>
        <div class="">
          <%= label_tag :self_introduction, t('.self_introduction'), class: "public" %>
          <p><%= @coach.self_introduction %></p>
        </div>
      </div>
      <% if logged_in? %>
      <div class="content administrator-check">
        <%= @coach.administrator? ? "Yes" : "No" %>
      </div>
      <% end %>
      <% if current_coach == @coach %>
        <div class="content">
          <%= link_to "プロフィールを編集する", edit_coach_path(current_coach) %>
        </div>
      <% end %>
      <% if current_coach == @coach %>
        <div class="content">
          <%= link_to "アカウントを削除", :coach, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </div>
      <% end %>
      <div class="content back-to-coaches">
        <%= link_to "講師一覧へ", coaches_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>