<% content_for :head do %>
<title><%= @coach.name %>さんのプロフィール | Studish</title>
<meta name="description" content="Studish講師のプロフィールページです。指導科目や自己紹介などを見て自分に合う講師を見つけましょう。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@hirotutor">
<meta name="twitter:title" content="<%= @coach.account_name %>さんのプロフィール">
<meta name="twitter:description" content="<%= @coach.self_introduction %>">
<meta name="twitter:image" content="<%= @coach.avatar.url %>">
<% end %>

<div class="page-outer coach-profile">
  <div class="page-container">
    <% if flash.notice %>
      <div class="notice">
        <p class="notice"><%= flash.notice %></p>
      </div>
    <% end %>
    <div class="coach-card clearfix">
      <% if @coach.avatar.present? %>
        <%= image_tag @coach.avatar.url, oncontextmenu: "return false;", class: "avatar avatar-large" %>
      <% else %>
        <%= image_tag "", class: "avatar avatar-large no-image" %>
      <% end %>
      <ul class="user-info coach-info">
        <li class="info-item"><span class="user-name coach-name"><%= @coach.name %></span><span class="user-account-name coach-account-name"><%= @coach.account_name %></span></li>
        <li class="info-item"><span class="university"><%= @coach.university %></span></li>
        <li class="info-item"><span class="major"><%= @coach.major %></span></li>
        <li class="info-item"><span class="school_year"></span><%= @coach.school_year %></span></li>
      </ul>
    </div>
    <ul class="coach-stats clearfix">
      <li class="stats-item" id="stats-item-1">
        <%= link_to "" do %>
        <span>Answer</span><br><span><i class="fa fa-book"></i><%= @coach.post_comments(status: "answer").count %></span>
        <% end %>
      </li>
      <li class="stats-item" id="stats-item-3">
        <%= link_to favorites_coach_path(@coach) do %>
        <span>いいね</span><br><span><i class="fa fa-heart"></i><%= @coach.favorites.count %></span>
        <% end %>
      </li>
    </ul>
    <%= simple_format(@coach.self_introduction, class: "self-introduction") %>
    <div class="subjects jr-subjects">
        <%= label_tag :jr_subjects, t('.jr_subjects') %>
        <% @jr_subjects.each_value do |jr_subs| %>
          <% unless (jr_subs == nil) || (jr_subs == '0') %>
            <span class="subject"><%= jr_subs %></span>
          <% end %>
        <% end %>
    </div>
    <div class="subjects high-subjects">
        <%= label_tag :high_subjects, t('.high_subjects') %>
        <% @high_subjects.each_value do |high_subs| %>
          <% unless (high_subs == nil) || (high_subs == '0' ) %>
            <span class="subject"><%= high_subs %></span>
          <% end %>
        <% end %>
    </div>
    <div class="certifications clearfix">
      <%= label_tag :certifications, t('.certifications') %>
      <% if @certifications.present? %>
        <% @certifications.each do |key, certs| %>
            <% unless (certs ==  nil) || (certs == "" ) %>
              <div class="certification">
                <span><%= t(key) %></span>
                <span><%= certs %></span>
              </div>
            <% end %>
        <% end %>
      <% end %>
    </div>
    <% if current_coach == @coach %>
      <div class="edit-profile-link-wrapper clearfix">
        <%= link_to "プロフィール編集", edit_coach_path(current_coach), class:"edit-profile-link" %>
      </div>
    <% end %>
    <% if current_coach != nil && current_coach.administrator == true %>
      <div class="admin-checker">
        <%= @coach.administrator? ? "Yes" : "No" %>
      </div>
    <% end %>
    
    <hr class="hr-bold">
    
    <% if @coach.post_comments.any? %>
    <div id="coach-post-comments-stream">
      <ol class="post-comments coach-post-comments-stream-container">
        <%= render "post_comments" %>
      </ol>
      <%= paginate @post_comments %>
    </div>
    <% end %>
  </div>
</div>