<div class="form-group post comment">
  <%= form_for @comment, post_id: params[:post_id], :html => { multipart: true } do |f| %>
    <%= render 'shared/errors', obj: f.object %>
    <div class="form-group">
      <%= f.fields_for :comment_pictures do |pic| %>
        <%= pic.label :pictures %>
        <%= pic.file_field :pictures %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :caption %>
      <%= f.text_area :caption, class: "form-control", placeholder: "caption..." %>
      <%= f.hidden_field :post_id, value: params[:post_id] %>
    </div>
    <%= f.submit "コメントする", class: "btn btn-primary" %>
  <% end %>
</div>