<div class="form-group post">
  <%= form_for @post, :html => { multipart: true } do |f| %>
    <%= render 'shared/errors', obj: f.object %>
    <div class="form-group">
      <%= f.label "科目", class: "required" %>
      <%= f.select :subject, [["勉強方法"],["Grammar(英文法)"],["Reading"],["Writing"],["中1英語"],["中2英語"],["中3英語"],["中1数学"],["中2数学"],["中3数学"],["数Ⅰ"],["数A"],["数Ⅱ"],["数B"],["数Ⅲ"]], class: "form-control text-denger" %>
    </div>
    <div class="form-group">
      <%= f.label "テキスト名（勉強方法の場合は入力しなくてOK）", class: "required" %>
      <%= f.text_field :text_name, class: "form-control", placeholder: "例:NextStage/学校プリント" %>
    </div>
    <div class="form-group">
      <%= f.label "章名" %>
      <%= f.text_field :chapter, class: "form-control", placeholder: "例:Part1-文法 / 2章-2次関数" %>
    </div>
    <div class="form-group">
      <%= f.label "節名" %>
      <%= f.text_field :section, class: "form-control", placeholder: "例:Point009 / 8-関数とグラフ" %>
    </div>
    <div class="form-group">
      <%= f.label "ページ数" %>
      <%= f.text_field :page, class: "form-control", placeholder: "例:p22" %>
    </div>
    <div class="form-group">
      <%= f.label "問題番号（勉強方法の場合は入力しなくてOK）", class: "required" %>
      <%= f.text_field :number, class: "form-control", placeholder: "例:21 / 基本例題58" %>
    </div>
    <div class="form-group">
      <%= f.label "問題パターン" %>
      <%= f.text_area :pattern, rows: 4, class: "form-control", placeholder: "例:\n文中で用いられるwhen節\n関数f(a)の計算、座標平面と象限・点が属する象限の判定" %>
    </div>
    <p>画像は最大2つ選択できます</p>
    <div class="form-group">
      <%= f.fields_for :post_pictures do |pic| %>
        <%= pic.label "質問画像" %>
        <%= pic.file_field :pictures, accept: 'image/jpeg,image/gif,image/png' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label "質問内容", class: "required" %>
      <%= f.text_area :caption, rows: 10, class: "form-control", placeholder: "具体的に書くとわかりやすい解説をしてもらいやすくなります。" %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary" %>
  <% end %>
</div>