<li class="post post-stream-item" id="post-<%= post.id %> <%= post.id %>">
  <div class="profile clearfix">
    <%= link_to post.user, class: "avatar-link" do %>
      <%= image_tag post.user.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
    <% end %>
    <div class="user-info">
      <%= link_to post.user, class: "name-link" do %>
        <span class="user-name"><%= post.user.name %></span><br><span class="user-account-name"><%= post.user.account_name %></span>
      <% end %>
    </div>
  </div>
  <% if post.post_pictures.present? %>
  <div class="post-picture-wrapper">
    <div id="post-picture-of-post-<%= post.id %>" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#post-picture-of-post-<%= post.id %>" data-slide-to="0" class="active"></li>
        <% if post.post_pictures.second.present? %>
        <li data-target="#post-picture-of-post-<%= post.id %>" data-slide-to="1"></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag post.post_pictures.first.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
        </div>
        <% if post.post_pictures.second.present? %>
        <div class="item">
          <%= image_tag post.post_pictures.second.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="infomation clearfix">
    <span class="subject"><%= post.subject %></span>
    <% if post.text_name.present? %><span class="text_name"><%= post.text_name %></span><% end %>
    <% if post.chapter.present? %><span class="chapter"><%= post.chapter %></span><% end %>
    <% if post.section.present? %><span class="section"><%= post.section %></span><% end %>
    <% if post.page.present? %><span class="page"><%= post.page %></span><% end %>
    <% if post.number.present? %><span class="number"><%= post.number %></span><% end %>
    <% if post.pattern.present? %><span class="pattern"><%= post.pattern %></span><% end %>
  </div>
  <span class="status"><%= post.status %></span>
  <span class="time"><%= time_ago_in_words(post.created_at) %>前</span>
  <span class="comment-id">id:<%= post.id %></span>
  <div class="caption">
  <%= simple_format(h(post.caption), class: "caption-text") %>
  </div>
  <div class="action-buttons">
    <% if logged_in? %>
      <% if post.favorites.where(user_id: current_user.id).present? %>
        <%= link_to user_post_favorite_path(current_user, post, post.favorites.find_by(user_id: current_user.id)), method: :delete, class: "action-button-link" do %>
          <i class="fa fa-heart action-button favorited"></i><span class="count favorite-count favorited"><%= post.favorites.count %></span>
        <% end %>
      <% else %>
        <%= link_to user_post_favorites_path(current_user, post, favorited_user_id: post.user.id), method: :post, class: "action-button-link" do %>
          <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= post.favorites.count %></span>
        <% end %>
      <% end %>
      <%= link_to new_post_comment_path(post_id: post.id, user_id: current_user.id, commented_user_id: post.user.id), class: "action-button-link" do %>
        <% if post.post_comments.find_by(user_id: current_user.id).present? %>
          <i class="fa fa-commenting-o action-button commented"></i><span class="count comment-count commented"><%= post.post_comments.count %></span>
        <% else %>
          <i class="fa fa-commenting-o action-button"></i><span class="count comment-count"><%= post.post_comments.count %></span>
          <% end %>
      <% end %>
    <% else %>
      <%= link_to favorites_path, method: :post, class: "action-button-link" do %>
        <i class="fa fa-heart action-button"></i><span class="count favorite-count"><%= post.favorites.count %></span>
      <% end %>
      <%= link_to new_post_comment_path(post_id: post.id), class: "action-button-link" do %>
        <i class="fa fa-commenting-o action-button"></i><span class="count comment-count"><%= post.post_comments.count %></span>
      <% end %>
    <% end %>
  </div>
  <div class="edit_delete">
    <% if current_user == post.user %>
      <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete" %>
    <% end %>
  </div>
</li>
<hr class="hr-bottom">