<div class="page-outer post-edit">
  <div class="page-container">
    <div class="holder">
      <div class="profile clearfix">
        <%= link_to @post.student, class: "avatar-link" do %>
          <%= image_tag @post.student.avatar.medium.url, oncontextmenu: "return false;", class: "avatar" %>
        <% end %>
        <div class="user-info student-info">
          <%= link_to @post.student, class: "name-link" do %>
            <span class="user-name student-name"><%= @post.student.name %></span><br><span class="user-account-name student-account-name"><%= @post.student.account_name %></span>
          <% end %>
        </div>
      </div>
      <% if @post.post_pictures.exists? %>
        <div class="post-picture-wrapper">
          <div id="post-picture-of-post-<%= @post.id %>" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#post-picture-of-post-<%= @post.id %>" data-slide-to="0" class="active"></li>
              <% if @post.post_pictures.second.present? %>
              <li data-target="#post-picture-of-post-<%= @post.id %>" data-slide-to="1"></li>
              <% end %>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <%= image_tag @post.post_pictures.first.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
              </div>
              <% if @post.post_pictures.second.present? %>
              <div class="item">
                <%= image_tag @post.post_pictures.second.pictures.large.url, oncontextmenu: "return false;", class: "pictures post-pictures" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <span class="status"><%= @post.status %></span>
      <span class="time"><%= time_ago_in_words(@post.created_at) %>前</span>
      <div class="caption">
      <%= simple_format(@post.caption, class: "caption-text") %>
      </div>
    </div>
    <hr class="he-bottom" >
    <%= render "form" %>
  </div>
</div>