<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-inner">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="logo">
            <%= link_to "Studish", root_path, class: "navbar-brand" %>
          </h1>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% unless logged_in? %>
              <li><%= link_to "Home", root_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Questions/Notes", posts_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "ログイン", login_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "新規登録(生徒)", new_user_path(user_type: 'student') %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "新規登録(講師)", new_user_path(user_type: 'coach') %></li>
              <li role="separator" class="divider"></li>
              <li>
                <% if current_page?(root_path) %>
                  <%= link_to "LINE@", "#line" %>
                <% else %>
                  <%= link_to "LINE@", "/#line" %>
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
            <% else %>
                <li>
                  <%= link_to notifications_user_path(current_user) do %>
                    <% if (@notifications_count > 0) %>
                      <i class="fa fa-bell-o bell-red"></i><span class="count bell-red"><%= @notifications_count %></span><span>通知</span>
                    <% else %>
                      <i class="fa fa-bell-o" id="bell"></i><span class="count"><%= @notifications_count %></span><span>通知</span>
                    <% end %>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to posts_path do %>
                    <i class="fa questions"></i><span>Questions/Notes</span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
              <% if current_user.user_type == "coach" %>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-pencil-square-o"></i><span>log(仮)</span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to user_path(current_user) do %>
                    <i class="fa fa-user"></i><span>プロフィール</span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to account_path(current_user) do %>
                    <i class="fa fa-cog"></i><span>アカウント</span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
              <% elsif current_user.user_type == "student" %>
                <li>
                  <%= link_to new_post_path(current_user, status: "question") do %>
                    <i class="fa fa-question-circle-o"></i><span>Question</span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to new_post_path(current_user, status: "note") do %>
                    <i class="fa fa-pencil-square-o"></i><span>Note</span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to user_path(current_user) do %>
                    <i class="fa fa-user"></i><span>プロフィール</span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to account_path(current_user) do %>
                  <i class="fa fa-cog"></i><span>アカウント</span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
              <% end %>
            <% end %>
            
            <li class="dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                その他
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </div>
              <ul class="dropdown-menu">
                <% unless logged_in? %>
                  <li role="separator" class="divider"></li>  
                  <li>
                    <% if current_page?(root_path) %>
                      <%= link_to "料金", "#plan" %>
                    <% else %>
                      <%= link_to "料金", "/#plan" %>
                    <% end %>
                  </li>
                  <li role="separator" class="divider"></li>
                <% else %>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to logout_path, method: "delete" do  %>
                      ログアウト | <%= current_user.account_name %>
                    <% end %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "LINE@", href="https://line.me/ti/p/%40vji2716s" %></li>
                  <li role="separator" class="divider"></li>
                <% end %>
                <li><%= link_to "お問い合わせ", inquiry_path %></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
            
          </ul>
        </div>
        
      </div>
    </div>
  </nav>
</header>