<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-inner">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="logo">
            <%= link_to "Studish", root_path, class: "navbar-brand" %>
          </h1>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if logged_in? %>
                <%= link_to logout_path, method: "delete" do %>
                  Log out | <%= current_coach.name %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                HOME
              <% end %>
            </li>
            <li>
              <% if current_page?(root_path) %>
                <%= link_to "#inquiry" do %>
                  無料体験
                <% end %>
              <% else %>
                <%= link_to "/#inquiry" do %>
                  無料体験
                <% end %>
              <% end %>
            </li>
            <li>
              <% if current_page?(root_path) %>
                <%= link_to "#line" do %>
                  LINE
                <% end %>
              <% else %>
                <%= link_to "/#line" do %>
                  LINE
                <% end %>
              <% end %>
            </li>
            
            <li class="dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                その他
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </div>
              <ul class="dropdown-menu" >
                <li>
                  <% if current_page?(root_path) %>
                    <%= link_to "#plan" do %>
                      料金
                    <% end %>
                  <% else %>
                    <%= link_to "/#plan" do %>
                      料金
                    <% end %>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to "講師一覧", :coaches %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to inquiry_path do %>
                    お問い合わせ
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <% unless logged_in? %>
                    <%= link_to login_path do %>
                      Log in | 講師用
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </li>
            
          </ul>
        </div>
        
      </div>
    </div>
  </nav>
</header>