<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="noindex">
  <% if content_for?(:head) %>
    <%= yield :head %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.infinitescroll.min' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <!-- BootstrapのCSS読み込み -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- BootstrapのJS読み込み -->
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" defer></script>
  <!-- jQuery読み込み -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- FontAwesomeの読み込み -->
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Slick読み込み -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <!-- SlickのCSS読み込み -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" >
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
  <!-- google analytics -->
  <%= analytics_init if Rails.env.production? %>
  <!-- <script src="jquery.upload_thumbs.js"></script> -->
  <!-- <script src="image_preview.js"></script> -->
  <!--<script src="https://cdn.rawgit.com/blueimp/JavaScript-Load-Image/v2.6.2/js/load-image.all.min.js"></script> -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hirotutor" />
  <meta name="twitter:title" content="日々の学習にコーチングを" />
  <meta name="twitter:description" content="オンラインコーチで勉強方法を改善しよう！" />
  <meta name="twitter:image" content="https://studish-stg.herokuapp.com//images/copy-back_768.jpg" />
</head>
<body>

<%= render partial: "layouts/header" %>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "flash alert alert-#{message_type}") %></div>
<% end %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
<%= render partial: "layouts/footer" %>
</body>
</html>